<!DOCTYPE html>
<html>
<head>
	<title>My aplicacion</title>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<!--script type="text/javascript" src="main.js"></script-->
</head>
<body>
	<h1>My app 2</h1>
</body>
</html>